.doctor {
  margin: 10px 20px;
  &-header {
    margin: 10px 0;
    padding: 25px;
    font-size: 45px;
    max-width: 800px;
    background-color: #ffffffd6;
  }
  &-add {
    background-color: white;
    margin: 20px 50px;
    padding: 20px 0px;
    border-radius: 5px;
  }
  &-content {
    display: flex;
    justify-content: space-around;
  }
}

.search {
  margin: 50px 0;
  &-input {
    padding: 50px 0;
  }
}
