.orga-search-form {
	max-width: 400px;
}
.orgaSearch {
	&-header {
		margin: 20px 0;
		padding: 25px;
		font-size: 45px;
		max-width: 800px;
		background-color: #ffffffd6;
	}
	&-container {
		display: flex;
		justify-content: center;
	}
}

.orgaSearch::after {
	content: "";
	background-image: url("../../../img/background.jpg");
	background-size: cover;
	opacity: 0.6;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
}
