#down {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.heart {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: beat 0.5s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.2);
  }
}

.animated-icon {
  position: relative;
  left: 0px;
}

.icon-small {
  transform: scale(0.3);
}
